*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 min-height: 100vh;
 overflow-x: hidden;
}

.intro h2{
  position: relative;
  font-size: 3vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

.intro h2::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height: 100%;
  /* color: #01fe87; */
  color: blue;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 3px solid  blue;
  overflow: hidden;
  animation: animate 6s linear infinite;
}


@keyframes animate{
0%,10%, 100%{
   width: 0;
}

70%, 90% {
    width:100%;
}
}

.images{
  min-height: 100%;
}

.more-items{
  border: 1px #404040 solid;
  padding: .4rem;
  border-radius: 20px;
 
}

.more-items  img{
  max-width: 20px;
}

.cart-img{
  max-width: 30px;
}

.product-img{
  max-width: 500px;
}

.img-thumbnail{
 max-height: 60px;
}