@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
.Nav {
  background-color: rgba(62, 151, 108, 0.25);
  color: black;
}

.search-wrapper {
  width: 300px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-wrapper Button > i {
  color: black;
  font-size: 20px;
}
.search-wrapper > button {
  background-color: transparent;
  border: none;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}
.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.landing {
  background-color: rgba(62, 151, 108, 0.25);
  height: 900px;
}
.landing-list {
  display: flex;
  justify-content: space-between;
}

.landing-list li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: 500px;
  list-style-type: none;
}
.slider-container {
  max-height: 600px;
  max-width: 600px;
}
.slider-container img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.hero-title {
  font-family: "Tilt Warp", cursive;
}

.images {
  min-height: 100%;
}

.cart-img {
  max-width: 30px;
}

.product-img {
  max-width: 500px;
}

.img-thumbnail {
  max-height: 60px;
}
.footer-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
  color: white;
}
.footer-wrapper h2{
 text-decoration: underline;
}
.icon-wrapper{
  display: flex;
  gap: 10px;
}
 